<header class="font-bold underline">Bulbasaur</header>
<p>Masa: </p>
<p>48 kilos</p>
<p>Altura; </p>
<p>125 centímetros</p>


<div class="card w-96 bg-base-100 shadow-xl">
    <figure><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png" alt="Bulbasaur" /></figure>
    <div class="card-body">
      <h2 class="card-title">Bulbasaur</h2>
        <h3 class="card-title">Masa: </h3>
        <p>48 kilos</p>
        <h3 class="card-title">Altura; </h3>
        <p>125 centímetros</p>
    </div>
  </div>
