<div class="carousel rounded-box">
    <div class="carousel-item"><card-pokemon></card-pokemon>
    </div> 
    <div class="carousel-item"><card-pokemon></card-pokemon>
    </div> 
    <div class="carousel-item"><card-pokemon></card-pokemon>
    </div> 
    <div class="carousel-item"><card-pokemon></card-pokemon>
    </div> 
    <div class="carousel-item"><card-pokemon></card-pokemon>
    </div> 
    <div class="carousel-item"><card-pokemon></card-pokemon>
    </div> 
    <div class="carousel-item"><card-pokemon></card-pokemon>
    </div>
  </div>
