:root {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    height: 100vh; 
    /* viewport height*/
    /* width: 100vw;  */
    /* viewport width*/
    background-color: red;
    border: solid 10px chartreuse;
}

header {
    background-color: darkblue;
    color: lightblue;
    height: 15%;
    font-size: 2rem;
}

.boton-menu {
    scale: 2;
}

.boton-menu:not(:checked)+nav {
    display: none;

}

.boton-menu:checked+nav {
    display: block;

}

nav {
    background-color: lightblue;
    width: 20%;
    height: 100%;
}

/* ul{
    margin: 100px;
} */